body {
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  padding: 0;
}

.otp-app {
  display: flex;
  flex-direction: column;
}

.tabs-container {
  display: flex;
  align-items: center;
}

.tabs {
  color: #ffffff;
  padding: 10px;
  background-color: #777777;
}

.tabs:hover {
  background-color: #ababab;
}

.active .tabs{
  background-color: #ffffff;
  color: #777777;
}

.tabs:active, .tabs:focus {
  color: #ffffff;
}

.main {
  padding: 1em;
}

.contacts {
  color: #777777;
  display: block;
  margin-bottom: 5px;
}

.contacts:hover {
  text-decoration: underline;
}

.details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.details .lable, .sentMessage .lable {
  color: #ababab;
  font-size: .8em;
  text-transform: uppercase;
}

.details .data, .sentMessage .data {
  color: #333333;
}

.details .send {
  color: #d14509;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #d14509;
  transition: color 200ms ease, background-color 200ms ease;
  border-radius: 4px;
  margin-top: 1em;
}

.details .send:focus {
  outline: 0;
}

.details .send:hover {
  color: #ffffff;
  background-color: #d14509;
  cursor: pointer;
}

.details .input-box {
  border: none;
  border-bottom: 1px solid #d14509;
  padding: 10px;
  color: #555555;
  margin-right: 10px;
}

.details .input-box:focus {
  outline: 0;
}

.sentMessage {
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(209, 69, 9, .2);
  margin-bottom: 1em;
}

.sentMessage:last-child {
  margin-bottom: 0;
}
